{% extends 'base_adops.html.twig' %}
{% block body %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 style="color:white;">
      Dashboard HQ<br/>
    </h1> 
  </section>

  <!-- Main content -->
  <section class="content">
     <!-- Client Access Form -->
    <div class="box box-danger" style="padding:5px 12px;">
      <!--Box Header-->
      <div class="box-header with-border">
        <h3 class="box-title">Configuration Options</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}