<p class="login-box-msg">Password reset email has been sent</p>
<p>An email message with instructions for resetting your password has been sent to the email address provided.<p>
<p>If the email does no reach you in a few minutes, try again or contact us via the contact form.</p>
<p>Please check your junk/spam folder if you don't see the email in your Inbox.</p>
<p>It is very common for an email to end up in a spam folder because of automated filters.</p>
