{% extends 'password_reminder/base.html.twig' %}
{% block sub_head_title %}Reset Password{% endblock %}
{% block body %}
	<div class="login-box-body">
	    
        {% if code is defined and code != 0 %}
            {% include 'password_reminder/reset_password/'~ code ~'.html.twig' %}
        {% else %}
            <p class="login-box-msg">Please enter your password to reset password</p>
    		<form id="reset-password-form" action="{{ app.request.uri }}" method="post" novalidate>
    			<div class="form-group has-feedback">
    			    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    				<input type="password" required name="form[password][first]" id="new_password" value="" class="form-control" placeholder="New password">
    			</div>
    			<div class="form-group has-feedback">
    			    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    				<input type="password" required name="form[password][second]" id="retype_new_password" value="" class="form-control" placeholder="Retype password">
    			</div>
    			<div class="row">
    				<div class="col-xs-8">
    					
    				</div><!-- /.col -->
    				<div class="col-xs-4">
    					<button type="submit" id="btnReset" class="btn btn-danger btn-block btn-flat">Set Password</button>
    				</div><!-- /.col -->
    			</div>
    			{{ form_widget(form._token) }}
    		</form>
        {% endif%}
	</div><!-- /.login-box-body -->
{% endblock %}
{% block javascript_inline %}
    <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
    <script>
        $(function () {
            $('input').iCheck({
               checkboxClass: 'icheckbox_square-red',
               radioClass: 'icheckbox_square-red',
               increaseArea: '20%' // optional
            });
        });
        var ResetPassword =  {
            fireEventSubmit:function() {
                var self = this;
                $('#reset-password-form').validate({
                    rules : {
                        'form[password][first]': {
                            minlength : 6
                        },
                        'form[password][second]': {
                            minlength : 6,
                            equalTo : "#new_password"
                        }
                    }
                });
            },
            init: function() {
                this.fireEventSubmit();
            }
        };
        $(document).ready(function() {          
            ResetPassword.init();
        });
    </script>
{% endblock %}