
body {
  background: #fff;
  font: 18px Roboto, sans-serif;
  color: #333;
}

.range-select {
  width: 100%;
  text-align: left;
  vertical-align: middle;
}

.dashboard-container {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-align-content: space-around;
  align-content: space-around;
}

.dashboard-container .item {
  margin: 8px;
  min-height: 200px;
  height: auto;

  -webkit-flex: 40% 1;
  flex: 40% 1;

  align-items: center;
  justify-content: center;

  -webkit-align-items: center;
  -webkit-justify-content: center;

  padding: 4px;
  border: 1px #E0DFE0 solid;
}

.group-container {
  margin: 8px;
  width: 100%;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px #E0DFE0 solid;
  background: #F2EEEB;
}

.dashboard-container .group {
  min-height: 200px;
  height: auto;

  -webkit-flex: 100% 1;
  flex: 100% 1;

  padding: 4px;

  // Container
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-align-content: space-around;
  align-content: space-around;
}

.dashboard-container .group .item {
  margin: 8px;
  min-height: 200px;
  height: auto;

  -webkit-flex:1;
  flex:1;

  background: #fff;
  padding: 4px;
  border: 1px #AD0200 solid;
}

.dashboard-title {
  font-size: 14pt;
  color: #111;
  position: static;
  z-index: 1000;
  margin: 4px;
}

.iframe-child {
  margin-top: 4px;
  width: 100%;
  min-height: 400px;
}
