<p class="login-box-msg">Your password reminder token has expired</p>
<p>Token is valid for 1 hour only. Please use the password reminder feature again to send a new token.<p>
<p>
    <a class="button" href="{{ path('password_reminder') }}"><span>Go to forgot password page</span></a>
</p>
