Dear {{ name }},
<br /><br />
To reset the password for your account, please click the following link:
<br /><br />
<a href="{{ url('password_reminder_reset_password', {'token': password_token}) }}">{{ url('password_reminder_reset_password', {'token': password_token}) }}</a>
<br /><br />
Best regards,
<br />
Hypergrowth Team