{% extends 'layout_ak/base.html.twig' %}
{% block sub_head_title %}Main Dashboard{% endblock %}
{% block body %}
<div class="wrapper wrapper-content animated fadeInRight">
{#<section class="content-header" style="margin: -2em 0 0 -2em !important;">#}
{#    <h1 style="font-size: 24px; margin: 0 0 1em 0.5em;">#}
{#      Main Dashboard#}
{#    </h1>#}
{#    <ol class="breadcrumb">#}
{#      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
{#      <li class="active">Main Dashboard</li>#}
{#    </ol>#}
{#</section> #}
    <div class="row" id="main">
        {#<form method="post" enctype="multipart/form-data" role="form" id="form1" name="form1" action="http://52.24.154.151/aws-dashboard.html" >#}
        <iframe src="http://dev.audiencekit.hypergrowth.co/main_dashboard.html"></iframe>
        {#</form>#}
    </div>
</div>
{% endblock %}
{% block stylesheets_inline %}
    <style>
        iframe
        { 
            width: 100%; 
            body{ overflow: hidden !important; }
        }
    </style>
{% endblock %}
{% block javascript_inline %}
    <script>
        $(document).ready(function()
        {
            //  $("iframe").css("height",$(window).height()+"0.1px");
             $("iframe").css("height","34em");
        });
    </script>
{% endblock %}