{% extends 'base2.html.twig' %}
{% block body %}  
<section class="content-header" style="margin: -2em 0 0 -2em !important;">
    <h1 style="font-size: 24px; margin: 0 0 1em 0.5em;">
      Server Monitor
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Server Monitor</li>
    </ol>
</section>

<div class="row">
    <div class="col-md-3">
        
    </div>
</div>
<script>   
    
</script>    
<style>
    
</style>
</style>
{% endblock %}