<div class="uj_card_holder">
	<div class="uj_cards row">
		<div class="col-md-8 col-sm-10" style=" border: #555 dashed 3px; margin: 15px 0px; ">
			<div class="col-md-9 col-sm-9">
				<span class="uj_card_title" style="color:#555">Add to an Audience Card</span>
			</div>
			<div class="col-md-3 col-sm-3">
				<span class="uj_x">
					<a href="#">
						<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Coming Soon">
							<i class="fa fa-plus" style="color:#555"></i>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="uj_cards row">
		<div class="col-md-8 col-sm-10 bg-navy">
			<div class="col-md-9 col-sm-9">
				<span class="uj_card_title">Train Traveler, $$</span></span>
			</div>
			<div class="col-md-3 col-sm-3">
				<span class="uj_x">
					<a href="#">
						<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Coming Soon">
							<i class="fa fa-remove"></i>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="uj_cards row">
		<div class="col-md-8 col-sm-10 bg-navy-2">
			<div class="col-md-9 col-sm-9">
				<span class="uj_card_title">Paying User, ID</span>
			</div>
			<div class="col-md-3 col-sm-3">
				<span class="uj_x">
					<a href="#">
						<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Coming Soon">
							<i class="fa fa-remove"></i>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="uj_cards row">
		<div class="col-md-8 col-sm-10 bg-navy-3">
			<div class="col-md-9 col-sm-9">
				<span class="uj_card_title">Air Traveler, $$$$</span>
			</div>
			<div class="col-md-3 col-sm-3">
				<span class="uj_x">
					<a href="#">
						<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Coming Soon">
							<i class="fa fa-remove"></i>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="uj_cards row">
		<div class="col-md-8 col-sm-10 bg-navy-4">
			<div class="col-md-9 col-sm-9">
				<span class="uj_card_title">Loyal 45 days+</span>
			</div>
			<div class="col-md-3 col-sm-3">
				<span class="uj_x">
					<a href="#">
						<span class="tool-tip" data-toggle="tooltip" data-placement="top" title="Coming Soon">
							<i class="fa fa-remove"></i>
						</span>
					</a>
				</span>
			</div>
		</div>
	</div>
</div>