<div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Preset filter<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('dashboard_filter_showadd') }}">Create</a></li>
              <li><a href="{{ path('dashboard_filter_showlist') }}">List</a></li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Audience data<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <a href="{{ path('dashboard_client_action_show') }}">View</a>
            </ul>
        </li>
    </ul>
</div>