<div class="footer">
	<div class="pull-right">
		<b>Version</b> 1.1.0
	</div>
	<div>
		<strong>Copyright © 2016 <a href="http://www.hypergrowth.co"> HyperGrowth Pte Ltd</a>.</strong> All rights reserved.
	</div>
</div>