<div class="row">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<a class="navbar-minimalize  minimalize-styl-2 btn btn-default" href="#"><i class="fa fa-bars"></i> </a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li>
				<span class="m-r-sm welcome-message">Welcome to
					{{welcome_text}}
				</span>
			</li>
			{% if isUserAK %}
			<li>
	            <a href="javascript:void()" id="starttour">
	                <i class="fa fa-info-circle" style="display: inline-block;"></i> Help
	            </a>
	        </li>
	        {% endif %}
			<li>
				<a href="{{ path('dashboard_logout') }}">
					<i class="fa fa-sign-out" style="display: inline-block;"></i> Log out
				</a>
			</li>
		</ul>
	</nav>
</div>